@charset "UTF-8";
/* CSS Document */

.html {
	font-family: "avenir-lt-pro", sans-serif;
	padding: 50px;
}

.html-pattern-bg{
	background-image: url(https://go.recycling.internationalpaper.com/l/997001/2025-05-29/2wcjr/997001/1748532085rLo0bwLa/SIM_Pattern_XL_50_.png);
	background-color: var(--ip-green);
}

.html-gray-bg{
	background-color: var(--light-gray);
}

.no-bg{
	background-image: none
}

body {
	font-family: "avenir-lt-pro", sans-serif;
	background-color: #ffffff;
	max-width: 1200px;
	display: block;
	margin: auto;
}

.no-padding{
	padding: 0
}

.dark-green-bg{
	background-color: var(--ip-dark-green);
	color: white
}

.green-bg{
	background-color: var(--ip-green);
	color: white
}

.dark-green-bg a, .green-bg a{
	color: var(--light-aquamarine)
}

.white-bg{
	background-color: white;
	color: var(--ip-dark-green)
}

.white-bg a{
	color: var(--clover-green)
}

.header {
	background-color: white;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px  #b8bdc4;
	z-index: 999
}

#logo {
	width: 150px;
	max-width: 150px;
}

.nav-links-cont{
	display: flex;
	gap: 15px
}

.nav-link{
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--ip-green);
	font-weight: 600;
	margin: auto;
}

.nav-link:hover{
	color: var(--ip-dark-green);
	transition: 0.2s ease-in
}

.hero {
	background-color: var(--ip-dark-green);
	padding: 50px 30px;
	display: flex;
	justify-content: space-between;
	column-gap: 25px;
}

.main-cont {
	background-color: var(--ip-dark-green);
	display: flex;
	justify-content: space-between;
}

.main-content {
	justify-content: space-between;
}

.main-copy{
	padding: 50px
}

.sim-banner {
	width: 100%;
	background-size: cover;
	background-position: top;
}

.arrows-banner {
	background-image: url("https://go.recycling.internationalpaper.com/l/997001/2024-09-13/2cb64/997001/1726266518CfNNL0e8/arrow_banner.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
}

.hero-copy {
	color: #ffffff;
}

.eyebrow {
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	padding-bottom: 10px;
}

.heading-xl {
	font-size: 2rem;
	font-weight: 400;
	margin: 0 0 15px 0;
}

.heading-l{
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 400;
}

.heading-m{
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 400;
}

.link-light{
	color: var(--light-aquamarine);
}

.link-light:hover{
	color: white
}

.lead {
	font-size: 1.125rem;
	line-height: 24px;
	color: var(--light-aquamarine);
}

p {
	font-family: "avenir-lt-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	padding: 0;
	margin-left: 0;
}

ul {
	margin-top: 20px;
}

ul li {
	font-size: 1rem;
	margin: 0 0 15px -40px;
	list-style: none;
}

ul li::before {
	font-family: "Noto Sans Symbols 2", sans-serif;
	content: "•";
	color: var(--aquamarine);
	display: inline-block;
	width: 15px;
	margin-left: -15px;
}

.margin-top-25{
	margin-top: 25px
}

.margin-top-50{
	margin-top: 50px
}

.margin-bottom-15{
	margin-bottom: 15px
}

.margin-bottom-25{
	margin-bottom: 25px
}

.margin-bottom-50{
	margin-bottom: 50px
}

.margin-bottom-100{
	margin-bottom: 100px
}

.vert-align-middle{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
	padding: 75px 75px;
	position: relative;
}

.into-animation{
	max-width: 200px;
	margin-top: -25px;
	margin-left: -25px
}

.feature-card{
	background-color: white;
	color: var(--ip-dark-green);
	padding: 25px
}

.cover-title{
	display: flex;
	column-gap: 25px
}

.included {
	padding-top: 25px;
}

.form-container {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.thumbnail-button {
	background-color: var(--light-gray);
	color: var(--ip-dark-green);
	padding: 25px;
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: sticky;
	top: 50px;
}

.doc-container {
	padding: 50px 75px;
	flex-direction: column;
	position: relative;
}

.cs-cover-cont{
	position: relative;
	margin-top: -75px;
}

.cover-s{
	max-width: 125px;
	height: auto;
}

.cs-cover {
	position: relative;
	box-shadow: 0 2px 15px 5px rgba(7, 51, 67, 0.35);
	display: block;
	margin: auto
}

.align-left{
	margin-left: 0
}

.cover-l{
	max-width: 200px;
	height: auto
}

.label {
	font-size: 16px;
}

.solid-button {
	font-family: "avenir-lt-pro", sans-serif;
	background-color: var(--ip-green);
	padding: 10px 15px;
	margin-top: 15px;
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffffff;
	box-shadow: -3px 3px var(--light-cool-gray);
	width: 100%;
	display: block;
	text-align: center;
}

.solid-button:hover {
	background-color: var(--ip-dark-green);
	transition: 0.25s;
}

.solid-button-arrow {
	font-weight: 400;
	color: var(--light-aquamarine);
}

.text-button {
	border: none;
	color: var(--ip-green);
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	padding: 0;
	background-color: transparent;
}

.complete-button {
	padding-top: 25px;
	color: var(--light-cool-gray);
	text-align: center;
}

.featured {
	padding: 50px;
	margin: auto;
	color: var(--ip-dark-green);
}

.featured-image {
	max-width: 400px;
}

footer{
	line-height: 20px;
	padding: 30px 50px;
	margin: auto;
	border-top: solid 2px var(--ip-dark-green)
}

footer p, footer a{
	font-size: 0.875rem;
	margin-bottom: 15px
}

.footer-logo{
	width: 115px;
	margin-bottom: 25px
}

.footer-social {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.privacy {
	padding: 0;
}

.social {
	height: auto;
	display: inline-block;
}

.social img {
	margin-top: -5px;
}

.social-display {
	display: block;
}

.social-container {
	display: flex;
	justify-content: flex-end;
	font-size: 25px;
}

.solutions {
	background-color: rgba(217, 236, 219, 0.5);
	padding: 25px 15px;
}

.solutions-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.solid-button-arrow {
	color: var(--aquamarine);
}

.text-button:hover {
	text-decoration: none;
	color: var(--ip-dark-green);
}

.social-container a {
	color: inherit;
}

.newsletter {
	background-color: var(--light-gray);
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	display: inline-flex;
	width: 100%;
}

.newsletter-form {
	width: 50%;
}

.newsletter h4 {
	color: var(--ip-green);
	display: inline-block;
	margin-bottom: 0;
	padding-right: 50px;
	width: 50%;
}

.featured-cont {
	padding: 50px;
}

.featured-resources {
	display: flex;
	column-gap: 25px;
}

.resource-card {
	padding: 0;
	flex-direction: column;
	gap: 25px;
	background-color: #fff;
	box-shadow: 0 2px 10px 3px rgba(7, 51, 67, 0.1);
}

.resource-card:hover {
	box-shadow: 0 2px 15px 3px rgba(7, 51, 67, 0.35);
	transition: 0.25s;
}

.resource-image {
	width: 100%;
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

.resource-text {
	height: auto;
	padding: 25px 25px 25px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.resource-label {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	padding-bottom: 10px;
	color: var(--ip-dark-green);
}

.resource-title {
	font-size: 1.25rem;
}

/**form**/

/* Load the custom font */

#pardot-form {
	font-family: "avenir-lt-pro", sans-serif;
	text-rendering: optimizeLegibility;
}

body,
p {
	font-family: "avenir-lt-pro", sans-serif;
	text-rendering: optimizeLegibility;
}

.form-text-link{
	color: #08a0ef
}

.form-text-link:hover{
	color: #006780;
	text-decoration: underline;
}

.arrow,
.submit-arrow {
	font-size: 14px;
	color: #3db199;
}

/* label + field */

.form-field {
	color: var(--ip-dark-green);
	padding-bottom: 15px;
}

/* Form background, width etc */
#pardot-form {
	margin: auto;
	background-color: var(--light-gray);
}

form.form {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

form.form p.submit input {
	margin: 0;
}

/* The input fields */

#pardot-form input.text,
#pardot-form textarea.standard,
#pardot-form select,
#pardot-form input.date {
	background-color: white;
	font-size: 14px;
	color: var(--ip-black);
	padding: 10px;
	width: 100%;
	font-family: "avenir-lt-pro", sans-serif;
	box-sizing: border-box;
	display: inline-block;
	border: 0;
	border-bottom: solid 1px var(--ip-green);
	max-height: 150px;
}

#pardot-form select {
	border: 0;
	border-bottom: solid 1px var(--ip-green);
}

#pardot-form input.text {
	padding: 10px;
}

/* the input fields on focus */
#pardot-form input.text:focus,
#pardot-form textarea.standard:focus,
#pardot-form select:focus,
#pardot-form input.date:focus {
	
	border-bottom: solid 2px var(--clover-green);
	outline: none;
}

#pardot-form span.value {
	margin-left: 0;
}

/* the field labels */
#pardot-form label {
	font-family: "avenir-lt-pro", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--ip-green);
	font-weight: 500;
	padding-bottom: 5px;
	float: none;
	text-align: left;
	width: auto;
	display: block;
}

/* the field descriptions */
#pardot-form p span.description {
	margin-left: 0;
	font-family: "avenir-lt-pro", sans-serif;
	font-size: 14px;
	font-style: italic;
	color: var(--ip-green);
	font-weight: 500;
	padding: 0;
	float: left;
	text-align: left;
	width: 100%;
	display: block;
}

#privacy-policy-msg {
	color: #606a75;
	font-size: 11px;
	line-height: 20px;
	font-family: "avenir-lt-pro", sans-serif;
	margin-bottom: 10px;
	display: inline-block;
	text-align: left;
}

/* the submit button */

form.form p.submit input {
    margin: 0 10px 0 0;
    padding: 15px 15px;
    width: 100%;
    font-weight: bold;
}

.submit input {
	font-family: "avenir-lt-pro", sans-serif;
	background-color: var(--ip-green);
	font-size: 18px;
	line-height: 1.1;
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffffff;
	box-shadow: -3px 3px var(--light-cool-gray);
	width: 100%
}

/* the submit button hover */
#pardot-form .submit input:hover {
	background-color: var(--ip-dark-green);
	transition: 0.2s;
}

.submit:hover > .submit-arrow {
	padding-left: 3px;
	transition: 0.25s ease-in;
}

/* the spacing around the submit button */
#pardot-form .submit {
	margin: 0;
	padding-bottom: 0;
	text-align: center;
}

/* hide the regular checkbox */
.pd-checkbox input {
	opacity: 0;
	position: absolute;
}

/* position the label */
.pd-checkbox input,
.pd-checkbox label {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	cursor: pointer;
}

.pd-checkbox label {
	position: relative;
}

/* style the unchecked checkbox */
.pd-checkbox input + label:before {
	content: "";
	background: white;
	border: 1px solid var(--clover-green);
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	font-size: 15px;
	line-height: normal;
	border-radius: 0;
	padding: 0 2px
}

/* style the checked checkbox */
.pd-checkbox input:checked + label:before {
	content: "\2713";
	font-family: "Inter", sans-serif;
	background: var(--clover-green);
	color: white;
	border-color: var(--clover-green);
}

form.form p.no-label {
	margin-left: 0 !important;
}

/* hide the regular radio button */
.pd-radio input {
	opacity: 0;
	position: absolute;
}

/* position the label */
.pd-radio input,
.pd-radio label {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
}

.pd-radio label {
	position: relative;
}

/* style the unchecked radio button */
.pd-radio input + label:before {
	content: "";
	background: white;
	border: 1px solid var(--clover-green);
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-right: 10px;
	text-align: left;
	font-size: 15px;
	line-height: normal;
	border-radius: 0;
}

.pd-radio input + label:before {
	border-radius: 50%;
}

/* style the selected radio button */
.pd-radio input:checked + label:before {
	content: "\25CF";
	background: var(--clover-green);
	color: white;
	border-color: var(--clover-green);
}

.g-recaptcha {
	padding-bottom: 0;
	padding-top: 15px;
}



/** Mobile **/

@media only screen and (max-width: 992px) {
	body {
		max-width: 100%;
		display: block;
		margin: auto;
	}

	.html {
		font-family: "Avenir", sans-serif;
		padding: 15px;
	}

	#logo {
		width: 150px;
	}

	.main,
	.main-content,
	.main-cont{
		padding: 0;
		display: block;
	}
	
	.main-copy{
		padding: 50px 25px
	}
	
	.header {
		padding: 15px 25px;
	}

	.hero {
		padding: 50px 25px;
		display: block;
	}

	.hero-copy {
		padding: 0 0 30px 0;
	}

	.featured {
		padding: 30px;
		color: var(--ip-dark-green);
		box-sizing: border-box;
	}
	
	.download-container {
		padding: 0 0 50px 0;
	}

	.thumbnail-button {
		width: 100%;
		max-width: none;
		position: relative;
		top:0
	}

	.form-container {
		margin-top: 50px;
		padding: 0
	}

	.doc-container {
		padding: 0 30px 0 30px;
	}

	.included {
		margin: 15px;
	}

	.solutions {
		padding: 25px 10px;
	}

	.solutions-text {
		padding-top: 50px;
	}

	.featured-image {
		max-width: 100%;
		margin: auto;
	}
	
	#pardot-form {
		width: 100%
	}

	.newsletter {
		display: block;
		width: 100%;
	}

	.newsletter-form {
		width: 100%;
	}

	.newsletter h4 {
		width: auto;
		padding-bottom: 25px;
		padding-right: 0;
	}

	input {
		width: 100%;
	}
	
	.sim-banner {
		height: 150px;
		object-fit: cover;
		object-position: 0% 0%;;
	}

	footer {
		padding: 30px;
		margin: auto;
		color: #fff;
	}
}


/** Color Palette **/

:root {
	--ip-black: #15191e;
	--ip-dark-green: #073d39;
	--ip-green: #006963;
	--clover-green: #00ab5f;
	--light-clover-green: #98e3a0;
	--aquamarine: #3db199;
	--light-aquamarine: #a0e4cb;
	--light-cool-gray: #b8bdc4;
	--light-gray: #e3e7eb;
	--lightest-gray: #f1f3f5
}